$font-primary-blue: rgb(15, 113, 188);
$font-second-blue: rgb(151, 185, 209);

// 円グラフに使う色
$primary-blue: rgb(3, 69, 236);
$second-blue: rgb(15, 113, 189);
$third-blue: rgb(32, 189, 222);
$forth-blue: rgb(60, 206, 254);
$fifth-blue: rgb(178, 158, 243);
$six-blue: rgb(109, 70, 236);
$seven-blue: rgb(74, 23, 239);
$eight-blue: rgb(49, 5, 192);

$languages-colors: $primary-blue, $second-blue, $third-blue, $forth-blue,
  $fifth-blue, $six-blue, $seven-blue, $eight-blue;

$contents-colors: $primary-blue, $second-blue, $third-blue;

// フォームカラー
$form-bg: rgb(245, 245, 248);

@mixin graph-property($colors, $len) {
  @for $i from 1 through $len {
    .color-#{$i}::before {
      content: "";
      width: 12px;
      height: 12px;
      display: inline-block;
      background-color: nth($colors, $i);
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}

body {
  background-color: #eee;
  height: 100vh;
  position: relative;
}

textarea {
  resize: none;
}

.original-card {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 8px #d5d5d5;
  padding: 20px;
}

.col-md-6 {
  padding: 0 10px 0 10px;
}

.log-btn {
  border: none;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(to right, $second-blue, $forth-blue);
  padding: 10px 60px;
  position: relative;
  z-index: 10;
  transition: 0.5s ease all;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    opacity: 1;
    height: 110%;
    background: linear-gradient(to right, $second-blue, $forth-blue);
    border-radius: 20px;
    filter: blur(6px);
    z-index: -1;
    transition: 0.5s ease all;
  }

  &:hover {
    opacity: 0.8;
    color: #fff;
    &::after {
      background: none;
    }
  }
}

header {
  height: 64px;
  width: 100%;
  background-color: #fff;
}

.header-container {
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  align-items: center;
  height: 64px;
  .header-logo {
    display: flex;
    align-items: center;
  }
}

.header-img {
  img {
    height: 64px;
    object-fit: cover;
  }
}

.header-passege {
  padding-left: 20px;
  color: #97b9d1;
}

.main-half-box {
  margin-top: 20px;
}

.learning-time-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.learning-time-card {
  text-align: center;
  width: 33%;
  font-weight: bold;
  .time-card-title {
    color: $font-primary-blue;
  }
  .time {
    font-size: 32px;
  }
  .hour {
    color: $font-second-blue;
  }
}

.grach-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.graph-card {
  width: 50%;
}

.pie-target {
  width: 100%;
  object-fit: cover;
}

.languages-tags {
  @include graph-property($languages-colors, 8);
}

.contents-tags {
  @include graph-property($contents-colors, 3);
}

.foot-nav {
  margin-top: 20px;
  text-align: center;
}

.floating-btn {
  display: none;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  .log-btn {
    width: 100%;
  }
}

// modal
.my-modal input[type="checkbox"] {
  display: none;
}

@media (min-width: 780px) {
  .modal-background {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
  }

  .modal-trigger {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .modal-content {
    position: relative;
    align-self: center;
    width: 100%;
    max-width: 900px;
    padding: 0 56px 20px 56px;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 1.4em;
    transition: 0.5s;
    border-radius: 20px;
    .submit-btn {
      width: 100%;
      text-align: center;
    }
  }

  .modal-content-wrapper {
    display: flex;
    gap: 40px;
    .modal-component {
      padding-top: 20px;
      width: 50%;
      margin-bottom: 20px;
    }
  }
}

.modal-form-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  background-color: #eee;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  color: #666;
}

.modal-isopen:checked ~ .modal-background {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.modal-form-input {
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.modal-form-input-mini {
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 9999px;
  display: inline-block;
  margin-bottom: 0.5rem;
  transition: 0.5s all ease;
}

.form-checkbox:checked + .label-text {
  &.modal-form-input-mini {
    color: #fff;
    background-color: $forth-blue;
  }
  .check {
    background-color: $primary-blue;
  }
}

.check {
  padding: 0;
  position: relative;
  background-color: #d5d5d5;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  transform-origin: center;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.5s all ease;
  &::before {
    content: "";
    width: 5px;
    height: 2px;
    border-radius: 2px; // so that the tick has nice rounded look
    background: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 0.5em; // you'll need to experiment with placement depending on the dimensions you've chosen
    left: 0.2em;
  }

  &::after {
    content: "";
    width: 10px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(305deg);
    top: 0.42em;
    left: 0.3em;
  }
}

@media (max-width: 780px) {
  // change button position
  .header-btn {
    display: none;
  }
  .floating-btn {
    display: block;
  }

  .modal-background {
    display: flex;
    // justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
  }

  .modal-trigger {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .modal-content {
    margin-top: 74px;
    position: relative;
    width: 100%;
    overflow: scroll;
    padding: 0 10px 20px 10px;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 1.4em;
    transition: 0.5s;
    border-radius: 20px 20px 0 0;
    .modal-content-wrapper {
      padding-top: 20px;
      flex-direction: column;
      gap: 0;
      align-items: center;
      .modal-component {
        width: 100%;
      }
    }
    .submit-btn {
      margin-top: 20px;
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
}
